.menu{
  width: 18px;
  cursor: pointer;
  span{
    width: 100%;
    height: 4px;
    background-color: $dark-grayish-blue;
    display: block;
    &:not(:last-child){
      margin-bottom: 2.5px;
    }
  }
}